/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align: center;
}
.hidden{
	display: none;
}
#yell{
  margin-top: 5px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
